<form name="newItemForm">
	<fieldset>
		<legend>New a Item</legend>
		<label>Name:</label>
		<input name="itemname" type="text" placeholder="Type the Item Name..." ng-model="item.name" required/>
		<span ng-show="newItemForm.itemname.$error.required" class="help-inline">Required</span>
	    <br />

		<label>Description:</label>
	    <textarea class="input-xxlarge" ng-model='item.description'></textarea>

	    <div class="clearfix"></div>
		<button type="submit" class="btn btn-primary" ng-click="create(item)" ng-disabled="newItemForm.$invalid">Submit</button>
	</fieldset>
</form>
